@charset "utf-8";
/* 구글폰트 */
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html, body {
	height:100%;
    min-width:375px;
    /*font-family:font-family: 'Noto Sans KR', sans-serif;*/
	margin:0px;
	position:relative;
	background-image:linear-gradient(#ffffff,#efefef);
    background-repeat:no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment:fixed;
}

ul, li {list-style:none;}
* {box-sizing: border-box;}
a {color: #333;text-decoration:none;}

div{
    border:0px dotted red;
}

#wrap{
    padding:20px;
    overflow: auto;
}

.logo {
    text-align: center;
    margin-bottom:30px;
    padding:30px 0px 30px 0px;
}
.logo img{

    width:80%;
}

.wc_text{
    text-align: left;
    line-height: 24px;
    margin-bottom: 30px;
    font-size:18px;
    font-weight:bold;
}
.wc_text_02{
    text-align: left;
    line-height: 36px;
    font-size:16px;
    font-weight:300;
    margin-bottom: 10px;
}


.select_home{
    width: 100%;
    padding:5px;
    background-image: url('./../asset/HOME.svg');
    background-size:40%;
    background-repeat:no-repeat;
    background-position:90%;
    margin-bottom:10px;
    background-color:#efefef;
    border-radius:10px;

}
.select_home div{
    padding:5px;
    font-size:16px;
    font-weight:900;
}
.select_away{
    width: 100%;
    padding:5px;
    background-image: url('./../asset/AWAY.svg');
    background-size:40%;
    background-repeat:no-repeat;
    background-position:90%;
    margin-bottom:10px;
    background-color:#efefef;
    border-radius:10px;
}
.select_away div{
    padding:5px;
    font-size:16px;
    font-weight:900;
}

.join_event{
    cursor: pointer;
    width: 100%;
    background-color: #2552d9;
    border: none;
    border-radius: 5px;
    padding:15px;
    font-size: 16px;
    color:#ffffff;
    font-weight:700;
    margin-bottom: 15px;
}
.join_event_disable{
    cursor: pointer;
    width: 100%;
    background-color: #ebebeb;
    border:none;
    border-radius: 5px;
    padding:15px;
    font-size: 16px;
    color:#ffffff;
    font-weight:700;
    margin-bottom: 15px;
}
.join_away_event{
    cursor: pointer;
    width: 100%;
    background-color: #f23827;
    border: none;
    border-radius: 5px;
    padding:15px;
    font-size: 16px;
    color:#ffffff;
    font-weight:700;
    margin-bottom: 15px;
}
#bottom_banner{
    position: fixed;
    bottom:0px;
    width: 100%;
}
#bottom_banner img{
    width: 100%;
}

.result_graph{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.result_text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.home_text{
    text-align: center;
    color:#2552d9;
    margin-left: 10px;
}
.home_graph{
    background-color:#2552d9;
    flex-basis: 50%;
    text-align: left;
    border-radius: 10px 0px 0px 10px;
    padding:25px 0px 25px 0px;;
    color:#ffffff;
    font-weight: 600;
}
.away_text{
    text-align: center;
    color:#f23827;
    margin-right: 10px;
}
.away_graph{
    background-color:#f23827;
    flex-basis: 50%;
    text-align: right;
    border-radius: 0px 10px 10px 0px;
    padding:25px 0px 25px 0px;
    color:#ffffff;
    font-weight: 600;
}
.time_count{
    color:#ffffff;
    text-align: center;
    font-weight: 900;
    font-size:18px;
    border-radius: 5px;
    background-color: #05a64b;
    padding:10px;
    margin-bottom: 30px;
}
.bt-02{
    border-radius: 5px;
    border: 1px solid #ebebeb;
}
.setting_box{
    padding:5px;
    background-color: #ffffff;
    border:1px solid #efefef;
    margin:10px 0px 20px 0px;
    border-radius: 5px;
}

.setting_bt{
    margin-top:10px;
}

.setting_box button{
    cursor: pointer;
    width: 100%;
    background-color: slategray;
    border: none;
    border-radius: 5px;
    padding:15px;
    font-size: 16px;
    color:#ffffff;
    font-weight:700;
}

.setting_item{
    padding:10px;
}

.setting_title{
    font-weight:900;
}

#gnb{
    background-color: blue;
    padding:10px;
    color: #ffffff;
    font-weight: 900;
}
#fnb{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    padding:5px;
    position: fixed;
    bottom:0px;
    width: 100%;
    background-color: #000;
    color:#fff;
    padding:10px;
}

.bt_google{
    cursor: pointer;
    width: 100%;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding:15px;
    font-size: 16px;
    color:#000000;
    font-weight:700;
    margin-bottom: 15px;
}

.bt_naver{
    cursor: pointer;
    width: 100%;
    background-color: #05a64b;
    border: none;
    border-radius: 5px;
    padding:15px;
    font-size: 16px;
    color:#ffffff;
    font-weight:700;
    margin-bottom: 15px;
}

.bt_kakao{
    cursor: pointer;
    width: 100%;
    background-color: #ffe31a;
    border: none;
    border-radius: 5px;
    padding:15px;
    font-size: 16px;
    color:#000000;
    font-weight:700;
    margin-bottom: 15px;
}

.bt_custom{
    cursor: pointer;
    width: 100%;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    padding:15px;
    font-size: 16px;
    color:#000000;
    font-weight:700;
    margin-bottom: 15px;
}

.btn-floating {
    color: #fff;
    padding: 0;
    width: 55.5px; height: 55.5px;
    display: inline-block;
    outline: 0;
    border: none;
    text-decoration: none;
    background: #2196F3;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.btn-floating:hover {
    background: #42A5F5;
}
.btn-floating div {
    font-size: 1.8em;
    padding: 0;
    margin: .22em 0 0 0;
}



 .marquee {
 cursor: pointer;
     width: 100%;
     background-color: #ebebeb;
     border:none;
     border-radius: 5px;
     padding:15px;
     font-size: 16px;
     color:#ffffff;
     font-weight:700;
     margin-bottom: 15px;

        white-space: nowrap;
        overflow: hidden;
    }
    .marquee span {
        display: inline-block;
        text-indent: 0;
        animation: marquee 10s linear infinite;
    }
    .marquee span:hover {
        animation-play-state: paused
    }/* Make it move */
    @keyframes marquee {
        0% { transform: translate(200px, 0); }
        30% { transform: translate(0, 0); }
        60% { transform: translate(0, 0); }
        100% { transform: translate(-100%, 0); }
    }