@charset "utf-8";
/* 구글폰트 */
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html, body {
	height:100%;
    min-width:375px;
    /*font-family:font-family: 'Noto Sans KR', sans-serif;*/
	margin:0px;
	position:relative;
	background-image:linear-gradient(#ffffff,#efefef);
    background-repeat:no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment:fixed;
}

ul, li {list-style:none;}
* {box-sizing: border-box;}
a {color: #333;text-decoration:none;}

div{
    border:0px dotted red;
}

#wrap{
    padding:20px;
    overflow: auto;
}

.logo {
    text-align: center;
    margin-bottom:30px;
    padding:30px 0px 30px 0px;
}
.logo img{

    width:80%;
}

.wc_text{
    text-align: left;
    line-height: 24px;
    margin-bottom: 30px;
    font-size:18px;
    font-weight:bold;
}
.wc_text_02{
    text-align: left;
    line-height: 36px;
    font-size:16px;
    font-weight:300;
    margin-bottom: 10px;
}


.select_home{
    width: 100%;
    padding:5px;
    background-image: url('./../asset/HOME.svg');
    background-size:40%;
    background-repeat:no-repeat;
    background-position:90%;
    margin-bottom:10px;
    background-color:#efefef;
    border-radius:10px;

}
.select_home div{
    padding:5px;
    font-size:16px;
    font-weight:900;
}
.select_away{
    width: 100%;
    padding:5px;
    background-image: url('./../asset/AWAY.svg');
    background-size:40%;
    background-repeat:no-repeat;
    background-position:90%;
    margin-bottom:10px;
    background-color:#efefef;
    border-radius:10px;
}
.select_away div{
    padding:5px;
    font-size:16px;
    font-weight:900;
}

.join_event{
    cursor: pointer;
    width: 100%;
    background-color: #2552d9;
    border: none;
    border-radius: 5px;
    padding:15px;
    font-size: 16px;
    color:#ffffff;
    font-weight:700;
    margin-bottom: 15px;
}
.join_event_disable{
    cursor: pointer;
    width: 100%;
    background-color: #ebebeb;
    border:none;
    border-radius: 5px;
    padding:15px;
    font-size: 16px;
    color:#ffffff;
    font-weight:700;
    margin-bottom: 15px;
}
.join_away_event{
    cursor: pointer;
    width: 100%;
    background-color: #f23827;
    border: none;
    border-radius: 5px;
    padding:15px;
    font-size: 16px;
    color:#ffffff;
    font-weight:700;
    margin-bottom: 15px;
}
#bottom_banner{
    position: fixed;
    bottom:0px;
    width: 100%;
}
#bottom_banner img{
    width: 100%;
}

.result_graph{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;

}
.home_graph{
    background-color:#2552d9;
    flex-basis: 50%;
    text-align: left;
    border-radius: 100px 0px 0px 100px;
    padding:15px 15px 15px 30px;
    color:#ffffff;
    font-weight: 600;
}
.away_graph{
    background-color:#f23827;
    flex-basis: 50%;
    text-align: right;
    border-radius: 0px 100px 100px 0px;
    padding:15px 30px 15px 15px;
    color:#ffffff;
    font-weight: 600;
}
.time_count{
    color:#ffffff;
    text-align: center;
    font-weight: 900;
    font-size:18px;
    border-radius: 5px;
    background-color: #05a64b;
    padding:10px;
    margin-bottom: 30px;
}
.bt-02{
    border-radius: 5px;
    border: 1px solid #ebebeb;
}
.setting_box{
    padding:5px;
    background-color: #ffffff;
    border:1px solid #efefef;
    margin:10px 0px 20px 0px;
    border-radius: 5px;
}

.setting_bt{
    margin-top:10px;
}

.setting_box button{
    cursor: pointer;
    width: 100%;
    background-color: slategray;
    border: none;
    border-radius: 5px;
    padding:15px;
    font-size: 16px;
    color:#ffffff;
    font-weight:700;
}

.setting_item{
    padding:10px;
}

.setting_title{
    font-weight:900;
}

#gnb{
    background-color: blue;
    padding:10px;
    color: #ffffff;
    font-weight: 900;
}
#fnb{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    padding:5px;
    position: fixed;
    bottom:0px;
    width: 100%;
    background-color: #000;
    color:#fff;
    padding:10px;
}