<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Welcome to Stadium AMP</title>

    <!-- Global CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body onload="startTimer()">
    <div id="wrap" >
        <div class="wc_text_02">
            이벤트 서버 <b>[[${server.name}]]</b> 실시간 응원 결과
        </div>

        <div class="result_graph">
            <div class="home_graph">홈팀 [[${event.homeCount}]]</div>
            <div class="away_graph">[[${event.awayCount}]] 원정팀</div>
        </div>

        <div class="wc_text_02">
            현재 응원 이벤트 남은 시간
        </div>

        <div class="time_count" id="display">
            0분 0초 남았습니다.;
        </div>

        <div class="wc_text_02">
            응원할 음원을 투표해 주세요.
        </div>

        <div class="bt-02">
            <div th:if="${teamtype =='Home'}">
                <button th:onclick="|location.href='@{/vote/save (teamType = ${team}, eventId = ${event.id}, eventType=1)}'|"
                        class="join_event" >[[${teamtype}]] 팀 응원 1</button>
                <button th:onclick="|location.href='@{/vote/save (teamType = ${team}, eventId = ${event.id}, eventType=2)}'|"
                        class="join_event">[[${teamtype}]] 팀 응원 2</button>
                <button class="join_event_disable">[[${teamtype}]] 팀 응원 3</button>
                <button class="join_event_disable">[[${teamtype}]] 팀 응원 4</button>
            </div>
            <div th:if="${teamtype =='Away'}">
                <button th:onclick="|location.href='@{/vote/save (teamType = ${team}, eventId = ${event.id}, eventType=1)}'|"
                        class="join_away_event">[[${teamtype}]] 팀 응원 1</button>
                <button th:onclick="|location.href='@{/vote/save (teamType = ${team}, eventId = ${event.id}, eventType=2)}'|"
                        class="join_away_event">[[${teamtype}]] 팀 응원 2</button>
                <button class="join_event_disable">[[${teamtype}]] 팀 응원 3</button>
                <button class="join_event_disable">[[${teamtype}]] 팀 응원 4</button>
            </div>
        </div>

        <p></p>

        <input type="hidden" id="startMin" th:value="${min}" >
        <input type="hidden" id="startSec" th:value="${sec}" >

<!--  timer      -->
<!--        <div id="wrapper">-->
<!--            <form>-->
<!--                <label><input type="hidden" id="startMin" />-->
<!--                <label><input type="text" id="startSec" />초</label>-->
<!--                <input-->
<!--                        type="button"-->
<!--                        value="START"-->
<!--                        class="start-btn"-->
<!--                        onclick="startTimer()"                 />-->
<!--                <input-->
<!--                        type="button"-->
<!--                        value="RESET"-->
<!--                        class="reset-btn"-->
<!--                        onclick="resetTimer()" // 타이머 리셋 함수-->
<!--                />-->
<!--            </form>-->
<!--            <hr />-->
<!--            <div id="display" class="remaining"></div> // 진행되는 타이머 시간을 보여주는 곳-->
<!--        </div>-->
<!--  timer      -->

    </div>


    <div id="bottom_banner">
        <img src="asset/bg_ad.png">
    </div>

    <script>
        let min, sec;
        let timer;

        function startTimer() {
            min = document.querySelector("#startMin").value;
            if (min === "") min = 0;
            sec = document.querySelector("#startSec").value;
            if (sec === "") sec = 0;
            timer = setInterval(countTimer, 1000);
        }

        function countTimer() {
            if (sec != 0) {
                sec--;
                document.querySelector("#display").innerText =
                    min + "분" + sec + "초 남았습니다.";
            } else {
                if (min != 0) {
                    min--;
                    sec = 59;
                } else {
                    clearTimer(timer, "이벤트 종료");
                }
            }
        }

        function resetTimer() { // 리셋 버튼 연결
            clearTimer(timer, "리셋 종료");
        }

        function clearTimer(t, text) {
            clearInterval(t);
            document.getElementById("display").innerText = text;
            document.getElementById("startMin").value = "";
            document.getElementById("startSec").value = "";
        }
    </script>
</body>
</html>