<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"  >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Welcome to Stadium AMP</title>

    <!-- Global CSS -->
<!--    <link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet"
          th:href="@{css/style.css}"/>
</head>
<body onload="startTimer()">
    <div id="wrap" >
        <div class="wc_text_02">
            이벤트 서버 <b>[[${server.name}]]</b> 실시간 응원 결과
        </div>

        <div class="result_text">
            <div class="home_text" id="home_text">홈팀 [[${event.homeCount}]]</div>
            <div class="away_text" id="away_text">[[${event.awayCount}]] 원정팀</div>
        </div>

        <div class="result_graph">
            <div class="home_graph" id="home_graph"></div>
            <div class="away_graph" id="away_graph"></div>
        </div>

        <div class="wc_text_02">
            현재 응원 이벤트 남은 시간
        </div>

        <div class="time_count" id="display">
            0분 0초 남았습니다.;
        </div>

        <div class="wc_text_02">
            응원할 음원을 투표해 주세요.
        </div>

        <div class="bt-02">
            <div th:if="${teamtype =='Home'}">
<!--                <button th:onclick="|location.href='@{/vote/save (teamType = ${team}, eventId = ${event.id}, eventType=1)}'|"-->
<!--                        class="join_event" >[[${teamtype}]] 팀 응원 1</button>-->
<!--                <button th:onclick="|location.href='@{/vote/save (teamType = ${team}, eventId = ${event.id}, eventType=2)}'|"-->
<!--                        class="join_event">[[${teamtype}]] 팀 응원 2</button>-->
                <button th:onclick="|vote(${team}, ${event.id}, 1);|"
                        class="join_event" >[[${teamtype}]] 팀 응원 1</button>
                <button th:onclick="|vote(${team}, ${event.id}, 2);|"
                        class="join_event">[[${teamtype}]] 팀 응원 2</button>
                <button class="join_event" >[[${teamtype}]] 팀 응원 3</button>
                <button class="marquee">
                    <span>Lorem Ipsum is simply dummy text</span>
                </button>
                <button class="join_event_disable" >[[${teamtype}]] 팀 응원 3</button>
                <button class="join_event_disable">[[${teamtype}]] 팀 응원 4</button>
            </div>
            <div th:if="${teamtype =='Away'}">
<!--                <button th:onclick="|location.href='@{/vote/save (teamType = ${team}, eventId = ${event.id}, eventType=1)}'|"-->
<!--                        class="join_away_event">[[${teamtype}]] 팀 응원 1</button>-->
<!--                <button th:onclick="|location.href='@{/vote/save (teamType = ${team}, eventId = ${event.id}, eventType=2)}'|"-->
<!--                        class="join_away_event">[[${teamtype}]] 팀 응원 2</button>-->
                <button th:onclick="|vote(${team}, ${event.id}, 1);|"
                        class="join_away_event">[[${teamtype}]] 팀 응원 1</button>
                <button th:onclick="|vote(${team}, ${event.id}, 2);|"
                        class="join_away_event">[[${teamtype}]] 팀 응원 2</button>
                <button class="join_event_disable">[[${teamtype}]] 팀 응원 3</button>
                <button class="join_event_disable">[[${teamtype}]] 팀 응원 4</button>
            </div>
        </div>

        <p></p>

        <input type="hidden" id="startMin" th:value="${min}" >
        <input type="hidden" id="startSec" th:value="${sec}" >
        <input type="hidden" id="startIdVal" th:value="${server.id}" >


    </div>


    <br>
    <a href='#' class='btn-floating'><div>+</div></a>
    <br><br>
    <a href='#' class='btn-floating'><div>-</div></a>

<!--    <div id="bottom_banner">-->
<!--        <img src="asset/bg_ad.png">-->
<!--    </div>-->

    <script th:src="@{jquery/jquery-3.4.1.min.js}"></script>
    <script th:src="@{js/timer.js}"></script>

    <script>

        /// vote
        function vote(teamType, eventId, eventType)
        {
            console.log("vote : ",teamType, eventId, eventType)
            $.ajax({
                url:  '/v1/vote/save',
                method: 'get',
                data: {
                    teamType: teamType,
                    eventId: eventId,
                    eventType: eventType
                }
            }).done(function(res) {
                if (res) {
                    console.log("res", res);
                    var homeGraph = document.getElementById("home_graph");
                    homeGraph.style.flexBasis=res.data.home;
                    if(res.data.home === "100%")
                        homeGraph.style.borderRadius="10px";
                    else{
                        homeGraph.style.borderTopRightRadius="0px";
                        homeGraph.style.borderBottomRightRadius="0px";
                    }
                    var awayGraph = document.getElementById("away_graph");
                    awayGraph.style.flexBasis=res.data.away;
                    if(res.data.away === "100%")
                        awayGraph.style.borderRadius="10px";
                    else{
                        awayGraph.style.borderTopLeftRadius="0px";
                        awayGraph.style.borderBottomLeftRadius="0px";
                    }

                    document.getElementById("home_text").innerText = "홈팀 "+res.data.homeCount;
                    document.getElementById("away_text").innerText = ""+res.data.awayCount+" 원정팀";

                } else {

                }
            });

        }

    </script>


</body>
</html>