<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="shortcut icon" href="favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Welcome to stadiumAMP</title>

    <!-- Global CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="wrap">
        <div class="logo">
            <img src="asset/StadiumAMP-Logo.svg">
        </div>

        <div class="wc_text">
            <li>서버 <span th:text="${data.name}"> 에 접속 하셨습니다.</span></li>
            <li>응원 권한을 선택해주세요.</li>
        </div>

        <form method="get" action="vote">
            <input type="hidden" id="gameToken" name="server_id" th:value="${data.id}" >
            <div style="padding:5px;">
                <div class="select_home">
                    <div><input type="radio" name="team" value=0 checked>"${data.homeName}" 일반</div>
                    <div><input type="radio" name="team" value=1 >"${data.homeName}" MVP</div>
                </div>



                <div class="select_away">
                    <div><input type="radio" name="team" value=2 >"${data.awayName}" 팀 일반</div>
                    <div><input type="radio" name="team" value=3 >"${data.awayName}" 팀 MVP</div>
                </div>
                <div class="bt">
                    <input type="submit" class="join_event" value="응원 이벤트 참가하기" ></input>
                </div>
            </div>
        </form>

    </div>

    <div id="bottom_banner" class="bottom_banner">
        <div style="position: relative">
            <input  style="float: right;"
                    type='button'
                    value='X'
                    id='btn2'
                    onclick='toggleBtn1()'/>
            <img class="bottom_banner_img" src="asset/bg_ad.png">
        </div>


    </div>

    <script>
        function toggleBtn1() {

            // 토글 할 버튼 선택 (btn1)
            const btn1 = document.getElementById('bottom_banner');

            // btn1 숨기기 (display: none)
            if(btn1.style.display !== 'none') {
                btn1.style.display = 'none';
            }
            // btn` 보이기 (display: block)
            else {
                btn1.style.display = 'block';
            }

        }
    </script>

</body>
</html>