<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel="shortcut icon" href="favicon.ico">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Welcome to Stadium AMP</title>

        <!-- Global CSS -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div >
            <div class="logo">
                <img src="asset/StadiumAMP-Logo.svg">
            </div>
            <div class="event_bg">

                <div class="wc_text">
                    <li>MVP Fan 으로 접속 합니다.</li>
                    <li>메일 주소를 입력해주세요.</li>
                </div>

                <form method="get" action="vote">
                    <input type="hidden"  name="team" th:value="${team}" >
                    <input type="hidden" id="gameToken" name="event_id" th:value="${data}" >
                    <input type="hidden"  name="move" th:value="${team}" >

                    <div style="padding:20px;">
                        <div class="bt">
                            <input type="submit" class="bt_google" value="구글계정으로 계속하기" ></input>
                        </div>
                        <div class="bt">
                            <input type="submit" class="bt_naver" value="네이버계정으로 계속하기" ></input>
                        </div>
                        <div class="bt">
                            <input type="submit" class="bt_kakao" value="카카오계정으로 계속하기" ></input>
                        </div>
                        <div class="bt">
                            <input type="submit" class="bt_custom" value="메일 주소 입력하기" ></input>
                        </div>
                    </div>
                </form>
                </div>
        </div>

        <div id="bottom_banner" class="bottom_banner">
            <div style="position: relative">
                <input  style="float: right;"
                        type='button'
                        value='X'
                        id='btn2'
                        onclick='toggleBtn1()'/>
                <img class="bottom_banner_img" src="asset/banner2.png">
            </div>


        </div>

        <script>
            function toggleBtn1() {

                // 토글 할 버튼 선택 (btn1)
                const btn1 = document.getElementById('bottom_banner');

                // btn1 숨기기 (display: none)
                if(btn1.style.display !== 'none') {
                    btn1.style.display = 'none';
                }
                // btn` 보이기 (display: block)
                else {
                    btn1.style.display = 'block';
                }

            }
        </script>

    </body>
</html>