<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"  >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Welcome to Stadium AMP</title>

    <!-- Global CSS -->
<!--    <link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet"
          th:href="@{css/style.css}"/>


</head>
<body class="sample"  onload="startTimer()" >
<div th:styleAppend="|background-color: ${bgcolor}|">

    <div class="remain_text_02" id="display">
        현재 응원 이벤트 남은 시간 0분 0초
    </div>

    <div  class="sample" >

        <div style="padding-left: 20px; padding-right:20px; padding-top:0px; padding-bottom: 0px;"
             onclick="location.href='https://sites.google.com/view/introduce-stadiumamp/';">
            <div class="wc_text_01">
<!--                <b>[[${event.name}]]</b> 실시간 응원 (설문하기)-->
                <b>[[${event.name}]]</b>
            </div>

            <div class="result_text">
                <div class="home_text" th:styleAppend="|color: ${homeColor}|"
                     id="home_text">[[${event.homeName}]] [[${runevent.homeCount}]]</div>
                <div class="away_text" th:styleAppend="|color: ${awayColor}|"
                     id="away_text">[[${event.awayName}]] [[${runevent.awayCount}]]</div>
            </div>

<!--            <div th:if="${state =='STOP'}">-->
<!--                <div class="result_graph" id="event_stop_graph">-->
<!--                    <div class="gray_graph_full" th:styleAppend="|background-color: ${homeColor}|"></div>-->
<!--                    <div class="away_graph_zero" th:styleAppend="|background-color: ${awayColor}|"></div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div th:if="${state !='STOP'}">-->
<!--                <div class="result_graph" id="event_start_graph">-->
<!--                    <div class="home_graph" th:styleAppend="|background-color: ${homeColor}|"-->
<!--                         id="home_graph"></div>-->
<!--                    <div class="away_graph" th:styleAppend="|background-color: ${awayColor}|"-->
<!--                         id="away_graph"></div>-->
<!--                </div>-->
<!--            </div>-->


                <div class="result_graph" id="event_stop_graph">
                    <div class="gray_graph_full" >
                        <div class="flex-center">다음 응원 이벤트를 기다려주세요</div>
                    </div>
                    <div class="away_graph_zero" ></div>
                </div>



                <div class="result_graph" id="event_start_graph">
                    <div class="home_graph" th:styleAppend="|background-color: ${homeColor}|"
                         id="home_graph"></div>
                    <div class="away_graph" th:styleAppend="|background-color: ${awayColor}|"
                         id="away_graph"></div>
                </div>


        </div>

        <div class="event_bg" th:styleAppend="'background-image: url('+${bgimg}+');'">
<!--        <div class="event_bg" >-->
        <div style="padding:0px 0px 0px 20px;">

<!--        <div class="event_bg" style="padding:20px;">-->

            <div th:if="${teamtype =='Home'}">
                <div class="wc_text_02" th:styleAppend="|color:${homeColor}|">
                    응원할 음원을 투표해 주세요.
                </div>
            </div>

            <div th:if="${teamtype =='Away'}">
                <div class="wc_text_02" th:styleAppend="|color:${awayColor}|">
                    응원할 음원을 투표해 주세요.
                </div>
            </div>

           <!-- <div class="video_container">
                <video id="videoPlay" width="300" height="200" controls autoplay muted>
                    <source type="video/mp4"
                            th:src="@{https://www.dropbox.com/scl/fi/7rjpuv11pgqiqmmtdxpnv/square-30sec1.mp4?rlkey=u5yqxcvw14l2dx8io6qxy6bwk&raw=1}" />
                </video>
            </div>-->

            <div class="bt-02">
                <div th:if="${teamtype =='Home'}">
<!--                    <button th:onclick="|vote(${team}, ${event.id}, 1);|" class="marquee" style="background-color: #ec0f32;">-->
<!--                            <span>[[${runevent.home1Name}]]</span>-->
<!--                    </button>-->
<!--                    <button th:onclick="|vote(${team}, ${event.id}, 2);|" class="marquee" style="background-color: #ec0f32;">-->
<!--                            <span>[[${runevent.home2Name}]]</span>-->
<!--                    </button>-->
<!--                    <button th:onclick="|vote(${team}, ${event.id}, 3);|" class="marquee" style="background-color: #ec0f32;">-->
<!--                        <span>[[${runevent.home3Name}]]</span>-->
<!--                    </button>-->
<!--                    <button th:onclick="|vote(${team}, ${event.id}, 4);|" class="marquee" style="background-color: #ec0f32;">-->
<!--                        <span>[[${runevent.home4Name}]]</span>-->
<!--                    </button>-->
<!--                    <button th:onclick="|vote(${team}, ${event.id}, 5);|" class="marquee" style="background-color: #ec0f32;">-->
<!--                        <span>[[${runevent.home5Name}]]</span>-->
<!--                    </button>-->

                    <button th:onclick="|vote(${team}, ${event.id}, 1);|" class="marquee"
                            th:styleAppend="|background-color: ${homeColor}; color:${homeFont}|">
                        <span>[[${runevent.home1Name}]]</span>
                    </button>
                    <button th:onclick="|vote(${team}, ${event.id}, 2);|" class="marquee"
                            th:styleAppend="|background-color: ${homeColor}; color:${homeFont}|">
                        <span>[[${runevent.home2Name}]]</span>
                    </button>
                    <button th:onclick="|vote(${team}, ${event.id}, 3);|" class="marquee"
                            th:styleAppend="|background-color: ${homeColor}; color:${homeFont}|">
                        <span>[[${runevent.home3Name}]]</span>
                    </button>
                    <button th:onclick="|vote(${team}, ${event.id}, 4);|" class="marquee"
                            th:styleAppend="|background-color: ${homeColor}; color:${homeFont}|">
                        <span>[[${runevent.home4Name}]]</span>
                    </button>
                    <button th:onclick="|vote(${team}, ${event.id}, 5);|" class="marquee"
                            th:styleAppend="|background-color: ${homeColor}; color:${homeFont}|">
                        <span>[[${runevent.home5Name}]]</span>
                    </button>

                </div>
                <div th:if="${teamtype =='Away'}">
<!--                    <button th:onclick="|vote(${team}, ${event.id}, 1);|" class="marquee" style="background-color: #326295;">-->
<!--                        <span>[[${runevent.away1Name}]]</span>-->
<!--                    </button>-->
<!--                    <button th:onclick="|vote(${team}, ${event.id}, 2);|" class="marquee" style="background-color: #326295;">-->
<!--                        <span>[[${runevent.away2Name}]]</span>-->
<!--                    </button>-->
<!--                    <button th:onclick="|vote(${team}, ${event.id}, 3);|" class="marquee" style="background-color: #326295;">-->
<!--                        <span>[[${runevent.away3Name}]]</span>-->
<!--                    </button>-->
<!--                    <button th:onclick="|vote(${team}, ${event.id}, 4);|" class="marquee" style="background-color: #326295;">-->
<!--                        <span>[[${runevent.away4Name}]]</span>-->
<!--                    </button>-->
<!--                    <button th:onclick="|vote(${team}, ${event.id}, 5);|" class="marquee" style="background-color: #326295;">-->
<!--                        <span>[[${runevent.away5Name}]]</span>-->
<!--                    </button>-->

                    <button th:onclick="|vote(${team}, ${event.id}, 1);|" class="marquee"
                            th:styleAppend="|background-color: ${awayColor}; color:${awayFont}|">
                        <span>[[${runevent.away1Name}]]</span>
                    </button>
                    <button th:onclick="|vote(${team}, ${event.id}, 2);|" class="marquee"
                            th:styleAppend="|background-color: ${awayColor}; color:${awayFont}|">
                        <span>[[${runevent.away2Name}]]</span>
                    </button>
                    <button th:onclick="|vote(${team}, ${event.id}, 3);|" class="marquee"
                            th:styleAppend="|background-color: ${awayColor}; color:${awayFont}|">
                        <span>[[${runevent.away3Name}]]</span>
                    </button>
                    <button th:onclick="|vote(${team}, ${event.id}, 4);|" class="marquee"
                            th:styleAppend="|background-color: ${awayColor}; color:${awayFont}|">
                        <span>[[${runevent.away4Name}]]</span>
                    </button>
                    <button th:onclick="|vote(${team}, ${event.id}, 5);|" class="marquee"
                            th:styleAppend="|background-color: ${awayColor}; color:${awayFont}|">
                        <span>[[${runevent.away5Name}]]</span>
                    </button>

                </div>
            </div>

<!--            <button onclick="showActionSheet()">Show Action Sheet</button>-->
        </div>
        </div>

        <p></p>

        <input type="hidden" id="startMin" th:value="${min}" >
        <input type="hidden" id="startSec" th:value="${sec}" >
        <input type="hidden" id="startIdVal" th:value="${event.id}" >
        <input type="hidden" id="eventState" th:value="${state}" >

    </div>


<!--    <br>-->
<!--    <a href='#' class='btn-floating'><div>+</div></a>-->
<!--    <br><br>-->
<!--    <a href='#' class='btn-floating'><div>-</div></a>-->

<!--    <div id="bottom_banner">-->
<!--        <img src="asset/bg_ad.png">-->
<!--    </div>-->




    <div id="bottom_banner" class="bottom_banner">
        <a th:href="@{${event.webUrl}}" >
            <div>
                <!--                    <img class="profile" src="asset/floating_button.svg">-->
                <div class="box" style="background: #BDBDBD;">
<!--                    <img class="profile" src="asset/floating_button.svg">-->
                    <img class="profile" th:src="${webimg} ?: @{/asset/floating_button.svg}">

                </div>
            </div>
        </a>
    </div>

    <div id="open_chat" class="open_chat">
        <a th:href="@{${event.openchatUrl}}" >
            <div>
                <!--                    <img class="profile" src="asset/floating_button.svg">-->
                <div class="box" style="background: #BDBDBD;">
<!--                    <img class="profile" src="asset/openchat.png">-->
                    <img class="profile" th:src="${openchatimg} ?: @{/asset/openchat.png}">
                </div>
            </div>
        </a>
    </div>


    <div class="action-sheet" id="actionSheet" onclick="hideActionSheet()">
        <div class="action-options">
            <div class="option close" onclick="hideActionSheet()">Close</div>
            <!-- 여러 선택 옵션들 -->
            <div class="option" onclick="handleOption('Option 1')">Option 1</div>
            <div class="option" onclick="handleOption('Option 2')">Option 2</div>
            <div class="option" onclick="handleOption('Option 3')">Option 3</div>
        </div>
    </div>



    <script th:src="@{jquery/jquery-3.4.1.min.js}"></script>
    <script th:src="@{js/timer.js}"></script>

    <script>
        estate = document.querySelector("#eventState").value;
        const graph_stop =document.getElementById("event_stop_graph");
        const graph_start =document.getElementById("event_start_graph");
        if(estate === "STOP")
        {
            graph_stop.style.display = 'flex';
            graph_start.style.display = 'none';
        }
        else
        {
            graph_stop.style.display = 'none';
            graph_start.style.display = 'flex';
        }
    </script>

    <script>
        /// vote
        function vote(teamType, eventId, eventType)
        {
            console.log("vote : ",teamType, eventId, eventType)
            $.ajax({
                url:  '/v1/vote/save',
                method: 'get',
                data: {
                    teamType: teamType,
                    eventId: eventId,
                    eventType: eventType
                }
            }).done(function(res) {
                if (res) {
                    console.log("res", res);
                    var homeGraph = document.getElementById("home_graph");
                    homeGraph.style.flexBasis=res.data.home;
                    if(res.data.home === "100%")
                        homeGraph.style.borderRadius="10px";
                    else{
                        homeGraph.style.borderTopRightRadius="0px";
                        homeGraph.style.borderBottomRightRadius="0px";
                    }
                    var awayGraph = document.getElementById("away_graph");
                    awayGraph.style.flexBasis=res.data.away;
                    if(res.data.away === "100%")
                        awayGraph.style.borderRadius="10px";
                    else{
                        awayGraph.style.borderTopLeftRadius="0px";
                        awayGraph.style.borderBottomLeftRadius="0px";
                    }

                    // var homeStr = document.querySelector("#home_text").value;
                    // var awayStr = document.querySelector("#away_text").value;
                    // if(res.data.eventState === "START")
                    // {
                    //     document.getElementById("home_text").innerText = homeStr+" "+res.data.homeCount;
                    //     document.getElementById("away_text").innerText = ""+res.data.awayCount+" " + awayStr;
                    // }

                    if(res.data.eventState === "START")
                    {

                        //document.getElementById("home_text").innerText = res.data.homeName + " " +res.data.homeCount;
                        console.log(res.data.homeName, res.data.homeName.trim().length,  res.data.homeName.length, res.data.awayName, res.data.awayName.length);
                        if(res.data.homeName.trim().length > 0 && res.data.awayName.trim().length > 0)
                        {
                            document.getElementById("home_text").innerText = ""+res.data.homeName + " " + res.data.homeCount;
                            document.getElementById("away_text").innerText = ""+res.data.awayCount + " " + res.data.awayName;
                        }
                        else if(res.data.homeName.trim().length > 0)
                        {
                            document.getElementById("home_text").innerText = ""+res.data.homeName + " " + res.data.homeCount;
                        }
                        else if(res.data.awayName.trim().length > 0)
                        {
                            document.getElementById("away_text").innerText = ""+res.data.awayCount + " " + res.data.awayName;
                        }

                    }
                } else {

                }
            });

        }

        function showActionSheet() {
            document.getElementById("actionSheet").classList.add("active");
        }

        // Action Sheet 감추기
        function hideActionSheet() {
            document.getElementById("actionSheet").classList.remove("active");
        }

        // 각 옵션 클릭 시 처리
        function handleOption(option) {
            // 여기에 옵션 클릭 시 로직 작성
            alert("Selected Option: " + option);
            // Action Sheet 감추기
            hideActionSheet();
        }
    </script>

</div>
</body>
</html>